.header {
  width: 100%;
  height: 80px;
  background: #170550;
  color: aliceblue;  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.ImgsComponents {
  cursor: pointer;
}


.menu {
  width: 500px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: red;  
}

.menu a {
  color: aliceblue;
  text-decoration: none;
  transition: 0.1s;
}

.menu a:hover {
  color: #F86F03;
}

.headerButton {
  width: 150px;
  height: 40px;
  color: #461959;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  line-height: 21.6px;
  background-color: #fff;
  cursor: pointer;
}

.headerButton span:hover {
  border-bottom: 2px solid;
  transition: 1ms;
}

